<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Precio %><br>
    <%= f.number_field :Precio, data: { 'ng-model' => 'newEntry.name' }, placeholder: "#{@producto.Precio}" %>
  </div>
  <div class="field">
    <%= f.label :Cantidad %><br>
    <%= f.number_field :Cantidad,  data: { 'ng-model' => 'newEntry.name1' }, placeholder: "#{@producto.Cantidad}" %>
  </div>

  <h1>Raffler</h1>
<div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>Precio {{newEntry.name}} </h1><br>

<h2>Cantidad de prendas {{newEntry.name1}}</h2> <br>

<h3>Porcentaje de ganancias{{newEntry.name1 * newEntry.name}}</h3> <br>

<h4>ingresos mensuales {{newEntry.name + newEntry.name1 }}</h4> <br>




