<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Precio %><br>
    <%= f.number_field :Precio %>
  </div>
  <div class="field">
    <%= f.label :Cantidad %><br>
    <%= f.number_field :Cantidad %>
  </div>

  <h1>Raffler</h1>
<div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
